<ion-view title="Faculty" id="FacHome">
    <ion-content padding="true" class="has-header" style="background-color: seashell">
<div class ="row">
        <div class="col">
          <button class="button button-stable button-clear eag-home-button" ng-click="uProfile()">
            <img src="img/student.png" style="width: 50%; height: 50%">
            
          </button>
        </div>
                
</div>
<div class="spacer" style="height: 25%"></div>
        <div class ="row">
        <div class="col">
          <button class="button button-stable button-clear eag-home-button" ng-click="exams()">
            <img src="img/fac.png" style="width: 50%; height: 50%">
            
          </button>
        </div>
        </div>

  </ion-content>

</ion-view>