<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
<div class ="row">
        <div class="col">
          <button class="button button-stable button-clear eag-home-button">
            <img src="img/contact.png" style="width: 50%; height: 50%">
            <p class="eag-home-label">Approved</p>
          </button>
        </div>
        <div class="col">
          <button class="button button-stable button-clear eag-home-button">
            <img src="img/contact.png" style="width: 50%; height: 50%">
          <p class="eag-home-label">Approved</p>
          </button>
          
        </div>
          
        </div>
<div class="spacer" style="height: 15%"></div>
        <div class ="row">
        <div class="col">
          <button class="button button-stable button-clear eag-home-button">
            <img src="img/contact.png" style="width: 50%; height: 50%">
            <p class="eag-home-label">Approved</p>
          </button>
        </div>
        <div class="col">
          <button class="button button-stable button-clear eag-home-button">
            <img src="img/contact.png" style="width: 50%; height: 50%">
          <p class="eag-home-label">Approved</p>
          </button>
          
        </div>
          
        </div>

<div class="spacer" style="height: 15%"></div>
        <div class ="row">
        <div class="col">
          <button class="button button-stable button-clear eag-home-button">
            <img src="img/contact.png" style="width: 50%; height: 50%">
            <p class="eag-home-label">Approved</p>
          </button>
        </div>
        <div class="col">
          <button class="button button-stable button-clear eag-home-button">
            <img src="img/contact.png" style="width: 50%; height: 50%">
          <p class="eag-home-label">Approved</p>
          </button>
          
        </div>
          
        </div>
  </ion-content>
</ion-view>