<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <!--img src="img/1.jpg"></img-->
      <div><img ng-src="img/collegelogo.png" width="55%" height="55%" />
      
      </div>
      <h1>Dr. AIT</h1>
      <ion-list id="menu-list1">
        
        <ion-item id="menu-list-item1" ui-sref="menu.home" menu-close="">Home</ion-item>
        <ion-item id="menu-list-item2" ui-sref="menu.login"  ng-show="!isUserLoggedIn" menu-close="">Login</ion-item>
        <ion-item id="profile" ui-sref="menu.profile" menu-close="" ng-if="show" >Myprofile</ion-item>
        <ion-item id="menu-list-item3" ui-sref="menu.department" menu-close="">Department</ion-item>
        <ion-item id="menu-list-item7" ui-sref="menu.facility" menu-close="">Facility</ion-item>
        <ion-item id="menu-list-item5" ui-sref="menu.trainingPlacement" menu-close="" ng-if="show">Training &amp; Placement</ion-item>
        <ion-item id="menu-list-item4" ui-sref="menu.galary" menu-close="">Gallary</ion-item>
        <ion-item id="menu-list-item6" ui-sref="menu.contact" menu-close="">Contact</ion-item>
         <ion-item id="menu-list-item6" ui-sref="menu.logout" ng-show="isUserLoggedIn"> Logout </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>