<ion-view title="Signup" id="page5">
  <ion-content padding="true" class="has-header"> 
    <form id="signup-form2" class="list" ng-submit="StudentCreate(Student)">
      <ion-list id="signup-list3">
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="" ng-model="Student.studentName" required>
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Username</span>
          <input type="text" placeholder="" ng-model="Student.stuuserName" required>
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Password</span>
          <input type="text" placeholder="" ng-model="Student.password" required>
        </label>
        <label class="item item-input" id="signup-input6">
          <span class="input-label">Mobile No</span>
          <input type="number" placeholder="" ng-model="Student.mobileNo" required>
        </label>
        <label class="item item-input" id="signup-input7">
          <span class="input-label">Email</span>
          <input type="email" placeholder="" ng-model="Student.email" required>
        </label>
        <label class="item item-input" id="signup-input8">
          <span class="input-label">USN</span>
          <input type="text" placeholder="" ng-model="Student.studentUSN" required>
        </label>
<div class="list">
<label class="item item-input item-select">
    <div class="input-label">
      Branch
    </div>
    <select ng-model="Student.branch" required>
      <option>ECE</option>
      <option>EEE</option>
      <option>ISE</option>
      <option>TC</option>
      <option>MECH</option>
      <option>CSE</option>
    </select>
  </label>
</div>
<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Semester
    </div>
    <select ng-model="Student.sem">
      <option>1</option>
      <option selected>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
    </select>
  </label>

</div>
  <div class="item item-divider">
			<button class="button" ng-click="upload()">Upload From Assets</button>
      <i class="icon ion-earth"></i>
			My Images
	</div>
      </ion-list>
      <button id="signup-button3" class="button button-stable  button-block" type="submit">Sign up</button>
    </form>
  </ion-content>
</ion-view>