<ion-view title="facilityCtrl" id="page9">
  <ion-content padding="true" class="has-header"> 
    <form id="signup-form2" class="list" ng-submit="StaffCreate(Staff)">
      <ion-list id="signup-list3">
        <label class="item item-input" id="signup-input3">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="" ng-model="Staff.fname" required>
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="" ng-model="Staff.lname" required>
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="Staff.password" required>
        </label>
        <label class="item item-input" id="signup-input6">
          <span class="input-label">Mobile No</span>
          <input type="number" placeholder="" ng-model="Staff.fmobile" required>
        </label>
        <label class="item item-input" id="signup-input7">
          <span class="input-label">USN/ID</span>
          <input type="text" placeholder="" ng-model="Staff.usn_id" required>
        </label>
        <label class="item item-input" id="signup-input8">
          <span class="input-label">Email</span>
          <input type="email" placeholder="" ng-model="Staff.email" required>
        </label>
  <div class="list">
<label class="item item-input item-select">
    <div class="input-label">
      Desination
    </div>
    <select ng-model="Staff.desination" required>
      <option>Lecturer</option>
      <option>HOD</option>
    </select>
  </label>
</div>
<div class="list">
<label class="item item-input item-select">
    <div class="input-label">
      Department
    </div>
    <select ng-model="Staff.dept" required>
      <option>ECE</option>
      <option >EEE</option>
      <option>ISE</option>
      <option>TC</option>
      <option>MECH</option>
      <option>CSE</option>
    </select>
  </label>
</div>
  <div class="item item-divider">
			<button class="button" ng-click="upload()">Upload From Assets</button>
      <i class="icon ion-earth"></i>
			My Images
	</div>
      </ion-list>
      <button id="signup-button3" class="button button-stable  button-block" type="submit">Sign up</button>
    </form>
  </ion-content>
</ion-view>