<ion-view title="Student" id="StuHome">
    <ion-content padding="true" class="has-header" style="background-color: seashell">
<div class ="row">
        <div class="col">
          <button class="button button-stable button-clear eag-home-button" ng-click="uProfile()">
            <img src="img/uf.png" style="width: 100%; height: 50%">
            
          </button>
        </div>
        <div class="col">
          <button class="button button-stable button-clear eag-home-button" ng-click="faculty()">
            <img src="img/fa.png" style="width: 100%; height: 50%">
          
          </button>
          
        </div>
          
        </div>
<div class="spacer" style="height: 25%"></div>
        <div class ="row">
        <div class="col">
          <button class="button button-stable button-clear eag-home-button" ng-click="exams()">
            <img src="img/exam.png" style="width: 100%; height: 50%">
            
          </button>
        </div>
        <div class="col">
          <button class="button button-stable button-clear eag-home-button" ng-click="sports()">
            <img src="img/sports.png" style="width: 100%; height: 50%">
          
          </button>
          
        </div>
          
        </div>

<div class="spacer" style="height: 25%"></div>
        <div class ="row">
        <div class="col">
          <button class="button button-stable button-clear eag-home-button" ng-click="placement()">
            <img src="img/placement.png" style="width: 100%; height: 50%">
            
          </button>
        </div>
        <div class="col">
          <button class="button button-stable button-clear eag-home-button">
            <img src="img/result.png" style="width: 100%; height: 50%">
          
          </button>
          
        </div>
          
        </div>
  </ion-content>

</ion-view>