<ion-view title="">
<ion-header-bar class="bar-stable">
      <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/lists"></a>
      </ion-header-bar>
    <ion-content ng-controller="MyController" >
        <ion-scroll id="mapImage"
                zooming="true"
                direction="xy"
                delegate-handle="zoom-pane"
                class="zoom-pane"
                min-zoom="1"
                max-zoom="15"
                overflow-scroll="false">
          <image ng-src="{{imageList}}" width="100%" />
          </ion-scroll>
    </ion-content>
</ion-view>